@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
/* Điều chỉnh cho màn hình nhỏ */


* {
      font-family: "Mitr";
}

:root {
      --primary: #1B9C85;
      --secondary: #FB9F38;
      --light: #F5F8F2;
      --dark: #252C30;
}

#myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      background-color: white;
      /* Màu nền ban đầu */
      color: red;
      /* Màu mũi tên ban đầu */
      border: none;
      outline: none;
      width: 40px;
      /* Giảm kích thước nút */
      height: 40px;
      /* Giảm kích thước nút */
      text-align: center;
      border-radius: 50%;
      font-size: 16px;
      /* Giảm kích thước font của mũi tên */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, color 0.3s ease;
}

#myBtn:hover {
      background-color: red;
      /* Màu nền khi hover */
      color: white;
      /* Màu mũi tên khi hover */
      cursor: pointer;
}



/*********************center_home****************/
.carousel-caption {
      text-align: left;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 150px 150px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fff;
}

.carousel-caption p {
      width: 45%;
}

.carousel-indicators {
      bottom: 0;
}

/*********************center_home_end****************/

/*********************trend****************/
#trend {
      border-top: 2px solid #d0257a;
      background-image: linear-gradient(#4FC0D0, #b78727);
}

.bg_chinh {
      background-color: #ffffad;
}

#trend .carousel-indicators {
      bottom: -50px;
}

.trend_2im2 {
      padding-top: 70px;
}

#upcome .carousel-indicators {
      bottom: -50px;
}

#upcome .trend_2im2 {
      padding-top: 90px;
}

/*********************trend_end****************/

/*********************popular****************/
.navbar {
      background-color: rgba(0, 0, 0, 0.1);
      /* Màu nền mờ */
      transition: background-color 0.3s ease;
      /* Thêm chuyển đổi mượt */
      /* position: fixed; */
      /* Đảm bảo navbar dính trên cùng */
      top: 0;
      /* Cố định ở đầu trang */
      left: 0;
      z-index: 999;
      /* Đảm bảo nó luôn hiển thị phía trên */
      /* background-color: #000609; Màu nền của navbar */
      height: 80px;
      /* Đảm bảo chiều cao của navbar */
      display: flex;
      align-items: center;
      box-shadow: 0 4px 2px -2px gray;
      /* Thêm hiệu ứng đổ bóng */
      width: 100vw;
}

/* Đổi nền khi người dùng lướt xuống */
.navbar.scrolled {
      background-color: rgba(0, 0, 0, 9);
      /* Tăng độ đậm khi lướt xuống */
}

/* Điều chỉnh kích thước logo để phù hợp với việc giữ navbar */
.navbar-brand img {
      max-width: 150px;
      /* Điều chỉnh kích thước logo */
      height: auto;
      /* Giữ tỷ lệ logo */
}

/* Điều chỉnh menu điều hướng */
.nav-link {
      padding: 0.5rem 1rem;
      color: white;
      font-weight: bold;
      font-size: 0.85rem;
      display: flex;
      align-items: center;
      transition: color 0.3s ease;
}

.nav-link i {
      font-size: 1.2rem;
      /* Điều chỉnh kích thước biểu tượng */
      margin-right: 5px;
      /* Khoảng cách giữa biểu tượng và text */
      transition: color 0.3s ease;
}

/* Đổi màu khi hover vào Sign In */
.nav-link:hover {
      color: red;
}

.nav-link:hover i {
      color: red;
}

/* Giữ Sign In ở bên phải */
.navbar-text {
      display: flex;
      justify-content: flex-end;
}

.showing-menu {
      display: flex;
      justify-content: space-between;
      background-color: #1c1c1c;
      /* Nền đen */
      padding: 10px 50px;
}

.menu-item {
      color: #999;
      /* Màu xám nhạt */
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2rem;
      position: relative;
      cursor: pointer;
      margin-right: 30px;
}

.menu-item.active {
      color: #ffffff;
      /* Màu trắng cho mục active */
}

.menu-item.active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      background-color: red;
      /* Đường kẻ màu đỏ dưới mục active */
}

.menu-item:hover {
      color: #ffffff;
      /* Màu trắng khi hover */
}




/*********************popular_end****************/

/*********************play****************/
.play_m {
      background-color: rgba(0, 0, 0, 0.8);
      padding-top: 50px;
      padding-bottom: 50px;
      margin-right: 50px;

}

#play {
      /* background-image: url(../img/30.jpg); */
      background-position: center;
}

.play1r {
      height: 450px;
      overflow-y: scroll;
}

/*********************play_end****************/

/*********************stream****************/
#stream .trend_2im2 {
      padding: 50px 15px 0px 15px !important;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100%;
}

#stream .carousel-indicators {
      bottom: -50px;
}

#stream {
      border-top: 2px solid #de1002;
}

/*********************stream_end****************/


/********************** footer ************************/
.footer {
      background-color: #000;
      /* Đặt màu nền cho footer */
      width: 100vw;
      /* Đảm bảo footer phủ hết chiều rộng */
      padding: 20px 0;
      /* Tạo khoảng cách trên dưới cho nội dung */
}

.footer .container {
      height: auto;
      /* Đảm bảo chiều cao tự động phù hợp với nội dung */
}

.footer .btn.btn-link {
      display: block;
      margin-bottom: 5px;
      padding: 0;
      text-align: left;
      color: white;
      font-weight: normal;
      text-transform: capitalize;
      transition: .3s;
      text-decoration: none;
}

.title-footer {
      color: #A5E1AD;
}

.footer .btn.btn-link::before {
      position: relative;
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: var(--primary);
      margin-right: 10px;
}

.footer .btn.btn-link:hover {
      color: var(--light);
      letter-spacing: 1px;
      box-shadow: none;
}

/* **********end footer****************** */

@media screen and (max-width : 767px) {
      .center_home .carousel-caption {
            padding: 10px;
            text-align: center;
      }

      .center_home .carousel-caption p {
            width: 100%;
            text-align: left;
      }

      .center_home img {
            min-height: 350px;
      }

      .center_home .font_60 {
            font-size: 24px;
      }

      .center_home h6 {
            font-size: 14px;
            line-height: 2em;
      }

      .center_home p {
            font-size: 14px;
      }

      .trend_2im {
            margin-top: 15px;
      }

      .trend_2ilast {
            text-align: center;
      }

      .popular_1 .nav-tabs li {
            margin-bottom: 5px;
      }

      .popular_2i1lm1 img {
            max-height: 240px;
      }

      .popular_2i1r {
            margin-top: 15px;
            text-align: center;
      }

      .popular_2i1r p {
            text-align: left;
      }

      .popular_2i1 {
            margin-bottom: 15px;
      }

      #choice img {
            min-height: 240px;
      }

      .play1l img {
            height: auto;
      }

      .play1r img {
            height: auto;
      }

      .play2l img {
            height: auto;
      }

      .play2r h5 {
            text-align: center;
      }

      .play2rir {
            margin-top: 15px;
      }

}


@media (min-width:576px) and (max-width:767px) {
      .trend_1l {
            text-align: left;
      }

      .trend_1r {
            text-align: right !important;
            margin-top: 0;
      }

      #popular .trend_1l {
            text-align: center;
      }

      .popular_2i1r {
            text-align: left;
            margin-top: 0;
      }

      #play .trend_1l {
            text-align: center;
      }
}

@media (min-width:768px) and (max-width:991px) {
      .center_home img {
            min-height: 600px;
      }

      .carousel-caption {
            padding: 50px 100px;
      }

      .carousel-caption p {
            width: 60%;
      }

      .trend_2im1 img {
            min-height: 200px;
      }

      #choice .trend_2im1 img {
            min-height: 240px;
      }

      .play2r {
            padding: 10px !important;
            min-height: 515px;
      }
}

@media (min-width:992px) and (max-width:1200px) {
      .center_home img {
            min-height: 600px;
      }

      .carousel-caption {
            padding: 50px 100px;
      }

      .trend_2im1 img {
            min-height: 200px;
      }

      #choice .trend_2im1 img {
            min-height: 240px;
      }

      .play2r {
            padding: 10px !important;
            min-height: 515px;
      }

}

@media (min-width:1201px) and (max-width:1255px) {}


.overlay {

      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
      /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity: 0;
      color: white;
      font-size: 20px;
      padding: 1rem;
      text-align: center;

}

.item:hover .overlay {
      opacity: 1;
}

/*********************about****************/
.about_pgm {
      background-color: rgba(0, 0, 0, 0.4);
      padding-top: 50px;
      padding-bottom: 50px;
}

#about_pg {
      /* background-image: url(public/image/rap_ghe.jpg ); */
      background-position: center;
}

#team .carousel-indicators {
      bottom: -50px;
}

.team_1i1i1 ul li a {
      background: #090a0a;
}

.team_1i1i1 {
      padding: 30px 15px 0px 15px;
      background: #000000c2;
      height: 60%;
}

/*********************about_end****************/


@media screen and (max-width : 767px) {
      .about_pg1 p {
            width: 100% !important;
            text-align: left;
      }

      .about_pg1 {
            text-align: center;
      }

      .team_1i1 img {
            min-height: 460px;
      }

      .team_1i1 p {
            font-size: 14px;
      }

      .team_1i1 {
            margin-bottom: 15px;
            text-align: center;
      }

      .team_1i1 p {
            text-align: left;
      }
}


@media (min-width:576px) and (max-width:767px) {
      #team .trend_1l {
            text-align: center;
      }

}

@media (min-width:768px) and (max-width:991px) {
      .team_1i1i img {
            min-height: 460px;
      }

      #team p {
            font-size: 14px;
      }

      #team ul li a {
            width: 35px;
            height: 35px;
            font-size: 14px;
      }

      #team ul li a i {
            line-height: 35px;
      }
}

@media (min-width:992px) and (max-width:1200px) {
      .team_1i1i img {
            min-height: 460px;
      }

      #team ul li a {
            width: 35px;
            height: 35px;
            font-size: 14px;
      }

      #team ul li a i {
            line-height: 35px;
      }

      #team p {
            font-size: 16px;
      }
}

@media (min-width:1201px) and (max-width:1255px) {}

/* LOGIN */
/* .text-center .small {
      display: block; 
      margin-top: 10px; 
      color: #ea4141; 
  }
  
  .text-center .small:hover {
      text-decoration: underline; 
      color: #ea4141; 
  }
  
form.user .form-control-user {
      font-size: 1rem;
      border-radius: 10rem;
      padding: 1rem;
      margin: 1rem 0rem;
}

form.user .btn-user {
      font-size: 1rem;
      border-radius: 10rem;
      padding: 0.75rem 1rem;
      display: block;
      width: 100%;
} */

/* ABOUT US */
.team-4 {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;

}

#avartar img {
      width: 13em;
      height: 15em;
      border-radius: 20px;
}

#avartar-inf {
      width: 13em;
      height: 15em;
      line-height: 10px;
      position: relative;
      text-align: center;
      color: white;
      margin-bottom: 1em;
}

#avartar-inf .inf {
      position: relative;
      visibility: hidden;
      z-index: 1;
      opacity: 0;
      transition: opacity 2s;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
}

.inf div {
      padding-top: 50%;
      font-weight: bold;
}

#avartar-inf:hover .inf {
      position: relative;
      height: 15em;
      visibility: visible;
      opacity: 1;
      line-height: 20px;
      border-radius: 20px;
}

#avartar-inf .inf ul {
      list-style-type: none;
      display: inline-flex;
      float: left;
}

#avartar-inf .inf ul li {
      margin-left: 1.5em;
}

.inf a {
      text-decoration: none;
}

.map {
      background-color: #242333;
      perspective: 40em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.screen {
      background: #fff;
      height: 4em;
      width: 60%;
      margin: 1em auto;
      transform: rotateX(-45deg);
      box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.wrapper {
      width: min-content;
      display: inline-block;
}

.iconSelect {
      width: min-content;
      overflow: hidden;
}

.custom-control-label {
      background-color: #eee;
      width: min-content;
      text-align: center;
      border-radius: 0.2rem;
      padding: 1rem 1rem .5rem;
      font-size: 1rem;
      transition: background-color 0.1s linear, color 0.1s linear;
      margin: 1em 0.5em;
}

@media only screen and (max-width: 600px) {
      .custom-control-label {
            padding: .5rem .5rem .5em;
      }

      .wrapper {
            margin-left: 2.8%;
      }
}

.custom-control-label:hover {
      background-color: #ccc;
}

.custom-control-label::before,
.custom-control-label::after {
      top: auto;
      left: 0;
      right: 0;
      bottom: 1rem;
      margin: auto;
}


.custom-control-input:checked~.custom-control-label {
      background: #ff6300;
      color: #fff;
}

.custom-control-input:disabled~.custom-control-label {
      background: purple;
      color: #fff;
}

.custom-control-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;

}

.letter {
      color: white;
      margin-bottom: 1.8em;

}

/* .modal {
      display: none;
      position: fixed;
      z-index: 99;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
} */

/* Modal Content */
/* .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 50%;
      overflow: auto;
} */


.food-tag {
      color: whitesmoke;
      border-radius: 25px;
      background: rgb(238, 160, 14);
      padding: .3em 3em;
      text-align: center;
      font-weight: bolder;
      text-shadow: -6px -6px #4d84c8, -5px -5px #4d84c8,
            -4px -4px #4d84c8, -3px -3px #4d84c8, -2px -2px #4d84c8,
            -1px -1px #4d84c8, 1px 1px #4d84c8, 2px 2px #4d84c8,
            3px 3px #4d84c8, 4px 4px #4d84c8, 5px 5px #4d84c8,
            6px 6px #4d84c8, 7px 7px #4d84c8, 8px 8px #4d84c8,
            9px 9px #4d84c8, 10px 10px #4d84c8, 11px 11px #4d84c8;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
} */

.drink-tag {
      color: whitesmoke;
      border-radius: 25px;
      background-color: palevioletred;
      padding: .3em 3em;
      text-align: center;
      font-weight: bolder;
      text-shadow: -6px -6px black, -5px -5px black,
            -4px -4px black, -3px -3px black, -2px -2px black,
            -1px -1px black, 1px 1px black, 2px 2px black,
            3px 3px black, 4px 4px black, 5px 5px black,
            6px 6px black, 7px 7px black, 8px 8px black,
            9px 9px black, 10px 10px black, 11px 11px black;
}

.product-wrapper {
      width: max-content;
      text-align: center;
      border-radius: 10px;
}


input[type="checkbox"] {
      -moz-appearance: textfield;
      -webkit-appearance: none;
}

.product-input:checked~.product-label {
      background: #cdc6c3;
}

.reset-input-number {
      /* Reset general styles */
      width: 100px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;
      text-align: right;

      /* Reset arrow button styles */
      ::-webkit-outer-spin-button,
      ::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            width: 25px;
            height: 25px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;

            /* Add arrow icons using CSS pseudo-elements */
            &::after {
                  content: "\25B2";
                  /* Up arrow Unicode character */
                  display: block;
                  text-align: center;
                  font-size: 12px;
                  color: #333;
            }

            &::before {
                  content: "\25BC";
                  /* Down arrow Unicode character */
                  display: block;
                  text-align: center;
                  font-size: 12px;
                  color: #333;
            }
      }

}